body
{
    background-color:#4a4747;
    margin:0;
    padding:0;
}
.video-part
{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    padding:30px;

}
.video-card
{
    flex:1 1 300px;
    color:#f6f3f3;
    margin-bottom:10px;
    background-color: #656363;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius:8px;
}
.video-content
{
    padding:8px;
    display:flex;
    flex-direction:column;
    height:60px;
    font-weight: 500;
    justify-content: space-between;
    font-family:'Noto Sans SC',sans-serif;
}
.video-image
{
    aspect-ratio:16/9;
    width:100%;
    overflow:hidden;
}
.video-image img
{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    
}
.video-title
{
   font-size:15px;
   line-height:1.4;
   display:-webkit-box;
   -webkit-line-clamp:2;
   -webkit-box-orient:vertical;
   overflow:hidden;
}
.video-time
{
    font-size:12px;
    margin-top:auto;
}

.presenting.image
{
    object-fit:contain;
    width:100%;
    height:auto;
    position:relative;
    
}

.hero-banner
{
    width:60vh;
    width:100%;
    position:relative;
    overflow:visible;
    
}
.hero-banner::before
{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:5;
}
.top-web
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:35px;
    z-index:10;

    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);

    display:flex;
    align-items:center;
    padding:5px 20px;
    box-sizing:border-box;
    
}
.title
{
    position:absolute;
    bottom: 27%;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-family:fantasy;
    z-index:5;
    transition:transform 0.3s ease;
}
.title:hover
{
    transform:translateX(-50%) scale(1.08);
}
.ch-title
{
    color:rgb(255, 255, 255);
    filter:saturate(3);
    font-size: 56px;
    font-family:'Noto Sans SC',sans-serif;
    letter-spacing:10px;
    line-height: 0.2;
    
}
.en-title
{
    color:white;
    filter:saturate(2);
    font-family:'Inter',sans-serif;
    font-size: 25px;
    font-weight:550;
    letter-spacing:2px;
    margin-right:10px;
}
.logo
{
    color:#f2ecec;
    margin-left:30px;
    letter-spacing:2px;
    font-family:fantasy;
    font-size: 23px;
}
.search-box
{
    width:100%;
    padding:8px 12px;
    border-radius:20px;
    border:none;
    width:900px;
    height:10px;
    margin-left:60px;
    background:rgba(255, 255, 255, 0.3);
}


.icon-group
{
    display:flex;
    gap:40px;
    color:#f3eded;
    margin-left:65px;
}
.icon-item
{
     
}
.category
{
    margin-bottom:80px;
    margin-top:80px;
    display:flex;
    width:100%;
    font-size:31px;
    justify-content: center;
    gap:200px;
    color:#ffffff;
    font-family:'Noto Sans SC',sans-serif;
}

.nav-item
{
   text-decoration: none;
    color:inherit;
    cursor:pointer;
    position:relative;
}
.nav-item:hover
{
    color:rgb(167, 223, 255)
}
.nav-item::after
{
    content:"";
    position:absolute;
    bottom:-3px;
    left:0;
    width:100%;
    height:1px;
    background-color: #ffffff;
}